:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;

  /* Padding */
  --padding-top: 15px;
  --padding-bottom: 15px;
  --padding-inner: 16px;
  --padding-outer: 32px;
  --padding-small: 8px;

  /* Colors */
  --color-dark: #000;
  --color-light: #fff;
  --color-background-light: oklch(0.9776 0.0051 67.76);
  --color-background-medium: oklch(0.9461 0.0103 67.7);
  --color-background-dark: oklch(0.903 0.0164 64.65);
  --color-main-text: oklch(0 0 0);
  --color-primary-light: oklch(0.8382 0.0368 245.69);
  --color-primary-main: oklch(0.3736 0.0578 248.77);
  --color-accent-yellow-green: oklch(0.9662 0.1531 113.28);
  --color-accent-coral: oklch(0.7151 0.1785 27.97);
  --color-newsletter-background: oklch(0.9518 0.0254 171.96);
  --color-newsletter-text: oklch(0.241 0.0438 166.93);
}

img {
  border-radius: 4px;
}

/*
* --------------------------------------------------
* Non anchor links
* --------------------------------------------------
*/
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hover-underline-link {
  text-decoration: none;
  background: linear-gradient(to right, currentColor, currentColor);
  background-size: 0% 1px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: color .25s ease-in, background-size .25s ease-in;
  line-height: 1rem;
}

.header-menu-item:hover .hover-underline-link,
.hover-underline-link:hover {
  background-size: 100% 1px;
}

.hover-fade:hover {
  opacity: 0.8;
}

/*
* --------------------------------------------------
* components/AnnouncementBar
* --------------------------------------------------
*/
.announcement-bar {
  background-color: var(--color-primary-light);
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid var(--color-main-text);
}

.announcement-bar__ticker {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  width: max-content;
  height: 100%;
  gap: var(--padding-inner);
  padding-left: var(--padding-inner);
}

.announcement-item {
  color: var(--color-primary-main);
  padding: 10px 0;
  font-size: 13px;
  font-weight: 300;
}

.announcement-bar__ticker {
  position: relative;
  white-space: nowrap;
  animation: announcement_bar_move 40s linear infinite;
}

@keyframes announcement_bar_move {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
@media (max-width: 45em) {
  html:has(.overlay.expanded) {
    overflow: hidden;
  }
}

aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: min(var(--aside-width), 100vw);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset > * {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  background-color: var(--color-background-medium);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: var(--header-height);
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 var(--padding-inner);

  @media (min-width: 62em) {
    padding: 0 var(--padding-outer);
  }
}

.header,
.header a {
  color: var(--color-primary-main);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 14px;
}


.header-menu-mobile-toggle {
  @media (min-width: 45em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  height: 100%;
  @media (min-width: 45em) {
    display: flex;
    margin-right: var(--padding-inner)
  }
}
.header-menu-item-container {
  height: 100%;
}

.header-menu-item {
  display: block;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding: var(--padding-inner);
  font-weight: 600;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
}

.header-ctas > * {
  min-width: fit-content;
}

.submenu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  position: absolute;
  z-index: 5;
  top: 100%;
  width: 100%;
  left: 0;
  border-top: 1px solid var(--color-main-text);
  border-bottom: 1px solid var(--color-main-text);
  background-color: var(--color-background-medium);
}

.submenu-item {
  display: flex;
  flex-direction: column;
}

.submenu-list {
  display: flex;
  flex-direction: column;
  padding: var(--padding-inner) var(--padding-outer);
  border-left: 1px solid var(--color-main-text);
}

.submenu-list:first-child {
  border-left: none;
}

.header-submenu-item {
  font-weight: 600;
  padding: 6px 0;
}

.header-submenu-child {
  font-weight: 300;
  letter-spacing: 0.06em !important;
  padding: 3px 0;
}

.submenu-with-image {
  height: 100%;
  width: 100%;
}

.submenu-with-image-text {
  position: absolute;
  margin: var(--padding-small);
  bottom: 0;
  z-index: 5;
  text-transform: none;
}

.submenu-with-image-text h2 {
  margin-bottom: var(--padding-small);
  font-size: 2rem;
}

.brand-image {
  object-fit: contain;
  max-width: 125px;
  max-height: var(--header-height);
}

.header-menu-image {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
}


/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-dark);
  margin-top: auto;
}

.footer-menu {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-light);
  min-width: fit-content;
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantity {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}

.cart-items-count {
  position: absolute;
  top: var(--padding-top);
  transform: translateX(var(--padding-inner));
  background-color: var(--color-primary-main);
  color: var(--color-background-medium);
  display: block;
  border-radius: 50%;
  aspect-ratio: 1/1;
  min-width: 16px;
}

.cart-items-count div {
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.02rem;
  padding: 0 2px;
}

/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item,
.product-options-item:disabled {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
}

.product-option-label-swatch {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.25rem 0;
}

.product-option-label-swatch img {
  width: 100%;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}
