:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --announcement-bar-height: 40px;
  --header-height: 64px;
  --submenu-height: 700px;

  /* Padding */
  --padding-top: 15px;
  --padding-bottom: 15px;
  --padding-inner: 16px;
  --padding-outer: 32px;
  --padding-small: 8px;
  --padding-large: 64px;

  /* Colors */
  --color-dark: #000;
  --color-light: #fff;
  --color-background-light: #faf7f4;
  --color-background-medium: #f2ece6;
  --color-background-dark: #e7ddd4;
  --color-main-text: #000000;
  --color-secondary-text: 80, 80, 80;
  --color-primary-light: #b7cde1;
  --color-primary-main: #27435e;
  --color-accent-yellow-green: #f4ff7e;
  --color-accent-coral: #ff6f61;
  --color-newsletter-background: #dff5ed;
  --color-newsletter-text: #05261b;

  /* Slider Buttons */
  --button-size: 44px;
  --button-offset: 22px;
  --button-border-radius: 3px;
}

/*
* --------------------------------------------------
* Non anchor links
* --------------------------------------------------
*/
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hover-underline-link {
  text-decoration: none;
  background: linear-gradient(to right, currentColor, currentColor);
  background-size: 0% 1px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: color .25s ease-in, background-size .25s ease-in;
  line-height: 1rem;
  padding: 3px 0;
}

.header-menu-item:hover .hover-underline-link,
.hover-underline-link.active,
.hover-underline-link:hover {
  background-size: 100% 1px;
}

.hover-fade:hover {
  opacity: 0.8;
}

.header-menu-mobile .header-menu-item-container:hover {
  background-color: var(--color-background-dark);
}

/*
* --------------------------------------------------
* Buttons
* --------------------------------------------------
*/
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: var(--color-accent-yellow-green);
  background-color: var(--color-primary-main);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 28px;
  min-height: 40px;
  min-width: 120px;
  border-radius: var(--button-border-radius);
}

/*
* --------------------------------------------------
* components/AnnouncementBar
* --------------------------------------------------
*/
.announcement-bar {
  background-color: var(--color-primary-light);
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid var(--color-main-text);
  height: var(--announcement-bar-height);
}

.announcement-bar__ticker {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  width: max-content;
  height: 100%;
  gap: var(--padding-inner);
  padding-left: var(--padding-inner);
}

.announcement-item {
  color: var(--color-primary-main);
  padding: 10px 0;
  font-size: 13px;
  font-weight: 300;
}

.announcement-bar__ticker {
  position: relative;
  white-space: nowrap;
  animation: announcement_bar_move 40s linear infinite;
}

@keyframes announcement_bar_move {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
@media (max-width: 45em) {
  html:has(.overlay.expanded) {
    overflow: hidden;
  }
}

aside {
  background: var(--color-background-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: min(var(--aside-width), 100vw);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside.aside--top {
  background: var(--color-background-medium);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: var(--header-height);
  width: 100vw;
  position: sticky;
  left: 0;
  top: 0;
  /* top: calc(var(--header-height) * -1); */
  transition: transform 200ms ease-in-out;
}

aside.aside--left {
  background: var(--color-background-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: min(var(--aside-width), 100vw);
  position: fixed;
  left: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}


aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
  z-index: 15
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside.aside--search main {
  background-color: var(--color-background-medium);
  padding: 0;
  margin: 0;
}

main:has(.header-menu-mobile) {
  padding: 0;
  margin: 0;
}

aside.aside--top .close {
  position: absolute;
  right: 10vw;
}

aside.aside--search .search-icon {
  margin-left: 10vw;
}


aside.aside--left .close {
  margin-right: calc(10vw - 20px);
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay.overlay--top {
  position: absolute;
  height: 100vh;
  max-height: calc(100vh - var(--announcement-bar-height));
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .close-outside.close-outside--top {
  height: calc(100% - var(--header-height));
  left: 0;
  bottom: 0;
  width: 100%;
}

.overlay .close-outside.close-outside--left {
  right: 0;
  left: unset;
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

.overlay.expanded aside.aside--top {
  transform: translateY(0);
}

.overlay.expanded aside.aside--left {
  transform: translateX(var(--aside-width));
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset > * {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  background-color: var(--color-background-medium);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: var(--header-height);
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 var(--padding-inner);

  @media (min-width: 62em) {
    padding: 0 var(--padding-outer);
  }
}

.header,
.header a {
  color: var(--color-primary-main);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 14px;
}


.header-menu-mobile-toggle {
  @media (min-width: 45em) {
    display: none;
  }
}

.header-menu-desktop-toggle {
  display: none;
  @media (min-width: 45em) {
    display: block
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
}

.header-menu-mobile .header-menu-item-container {
  border-bottom: 1px solid var(--color-primary-main);
}

.header-menu-mobile .header-menu-item {
  text-transform: uppercase;
  font-weight: 300;
  padding: 0 15px;
  min-height: 50px;
}

.header-menu-mobile .header-menu-item span {
  text-transform: uppercase;
}

.header-menu-desktop {
  display: none;
  height: 100%;
  @media (min-width: 45em) {
    display: flex;
    margin-right: var(--padding-inner)
  }
}

.header-menu-item-container {
  height: 100%;
}

.header-menu-item {
  display: block;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding: var(--padding-inner) var(--padding-small);
  font-weight: 600;
  @media (min-width: 62em) {
    padding: var(--padding-inner);
  }
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
}

.header-ctas.header-ctas__left{
  margin-left: 0;
  margin-right: auto;
}


.header-ctas.header-menu-mobile-toggle {
  @media (min-width: 45em) {
    display: none;
  }
}

.header-ctas > * {
  min-width: fit-content;
}

.submenu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  position: absolute;
  z-index: 5;
  top: 100%;
  width: 100%;
  left: 0;
  border-top: 1px solid var(--color-main-text);
  border-bottom: 1px solid var(--color-main-text);
  background-color: var(--color-background-medium);
  max-height: var(--submenu-height);
}

.submenu-item {
  display: flex;
  flex-direction: column;
}

.submenu-list {
  display: flex;
  flex-direction: column;
  padding: var(--padding-inner) var(--padding-outer);
  border-left: 1px solid var(--color-main-text);
}

.submenu-list:first-child {
  border-left: none;
}

.header-submenu-item {
  font-weight: 600;
  padding: 6px 0;
}

.header-submenu-child {
  font-weight: 300;
  letter-spacing: 0.06em !important;
  padding: 3px 0;
}

.submenu-with-image {
  position: relative;
  height: 100%;
  width: 100%;
}

.submenu-with-image-text {
  position: absolute;
  margin: var(--padding-small);
  bottom: 0;
  z-index: 5;
  text-transform: none;
  max-width: 100%;
}

.submenu-with-image-text h2 {
  margin-bottom: var(--padding-small);
  font-size: 2rem;
}

.brand-image {
  object-fit: contain;
  max-width: 125px;
  max-height: var(--header-height);
}

.header-menu-image {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.header-menu-image img {
  object-fit: cover;
}

.mobile-submenu-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-dark);
  margin-top: auto;
}

.footer-menu {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-light);
  min-width: fit-content;
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantity {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}

.cart-items-count {
  position: absolute;
  top: var(--padding-top);
  transform: translateX(var(--padding-inner));
  background-color: var(--color-primary-main);
  color: var(--color-background-medium);
  display: block;
  border-radius: 50%;
  aspect-ratio: 1/1;
  min-width: 16px;
}

.cart-items-count div {
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.02rem;
  padding: 0 2px;
}

/*
* --------------------------------------------------
* components/ProductItem
* --------------------------------------------------
*/
.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(var(--color-secondary-text), 0.2);
  border-bottom: 1px solid rgba(var(--color-secondary-text), 0.2);
  border-right: 1px solid rgba(var(--color-secondary-text), 0.2);
}

.product-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 0;
  gap: 2px;
  border-top: 1px solid rgba(var(--color-secondary-text), 0.2);
  width: 100%;
}

.product-content h4 {
  margin: 0;
}

.product-content small {
  color: rgba(var(--color-secondary-text), 1);
  font-size: 14px;
  font-weight: 300;
}

.product-image-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%
}

.quick-add-button {
  display: block;
  position: absolute;
  text-align: center;
  bottom: 0;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  width: 100%;
  transform: translateY(100%);
  transition: all 0.1s ease-in-out;
  z-index: 2;
}

.quick-add-button form {
  max-width: 100%;
}

.product-image-wrapper:hover .quick-add-button,
.quick-add-button:hover {
  transform: translateY(0);
}

.quick-add-button button {
  background-color: var(--color-background-light);
  text-transform: uppercase;
  color: var(--color-main-text);
  width: 100%;
  padding: 10px 0;
  font-size: 12px;
  letter-spacing: -0.01rem;
  font-weight: 300;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  max-height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
  background: var(--color-background-medium);
}

.predictive-search-form {
  background: var(--color-background-medium);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100vw;
  max-width: 100vw !important;
  gap: 10px;
  top: 0;
  height: var(--header-height);
}

.predictive-search-form input,
.predictive-search-form input:focus {
  border-radius: 0;
  border: 0;
  outline: none;
  margin: var(--padding-top);
  margin-right: calc(10vw + 24px + 15px);
  padding: 0;
  width: 100%;
}

.predictive-search-form .search-reset {
  position: absolute;
  top: calc(50% - 8px);
  right: calc(10vw + 24px + 15px);
  background-color: var(--color-background-medium);
  font-size: 13px;
  cursor: pointer;
  /* opacity: 0; */
}

.predictive-search-form input[type="search"]::-webkit-search-decoration,
.predictive-search-form input[type="search"]::-webkit-search-cancel-button,
.predictive-search-form input[type="search"]::-webkit-search-results-button,
.predictive-search-form input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* components/Tabs
* --------------------------------------------------
*/
.tabs-container {
  max-width: 100vw;
}

.tabs-wrapper {
  background-color: var(--color-background-light);
  max-width: 100vw;
  padding: var(--padding-large) 0;
  overflow-x: hidden;
}

.tabs-wrapper h1 {
  padding: 0 var(--padding-outer) var(--padding-outer);
  margin: 0;
}

.tabs-links {
  overflow: hidden;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 var(--padding-outer) var(--padding-outer);
  gap: var(--padding-outer);
}

.tabs-button {
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/

.homepage-section-title {
  font-size: 28px;
  font-weight: 600;
}

.featured-banner {
  min-height: 700px;
  overflow: hidden;
  max-width: 100vw;
}

.featured-banner-image {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  z-index: 0;
}

.featured-banner-image img {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
}

.featured-banner-content-wrapper {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  padding: var(--padding-outer);
  z-index: 1;
}

.featured-banner-content {
  display: flex;
  flex-direction: column;
  gap: var(--padding-inner);
  padding: var(--padding-inner);
  @media (min-width: 45em) {
    padding: var(--padding-outer);
    max-width: 50%;
  }
}

.featured-banner-content h1 {
  font-size: 2.4rem;
  margin: 0;
}

.featured-banner-content h2 {
  font-size: 1.6rem;
  margin: 0;
}

.featured-banner-content p {
  font-weight: 300;
  line-height: 1.8rem;
  margin-bottom: var(--padding-inner);
}

.about {
  padding: calc(var(--padding-outer) * 2) var(--padding-outer);
  background-color: var(--color-accent-yellow-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--padding-outer);
  width: 100%;
}

.about img {
  @media (min-width: 45em) {
    width: 50vw;
    max-width: 800px;
  }
}

.about h2 {
  text-align: center;
  padding: 0 var(--padding-outer);
  color: var(--color-primary-main);
  font-weight: 500;
  @media (min-width: 45em) {
    max-width: 80vw;
  }
}

.top-categories-section .slick-slider:hover .slick-prev,
.top-categories-section .slick-prev:hover {
  left: 0;
}

.top-categories-section .slick-slider:hover .slick-next,
.top-categories-section .slick-next:hover {
  right: 0;
}

.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
  color: var(--color-accent-coral);
}

.product-price-on-sale s {
  opacity: 0.5;
  color: rgba(var(--color-secondary-text), 1)
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item,
.product-options-item:disabled {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
}

.product-option-label-swatch {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.25rem 0;
}

.product-option-label-swatch img {
  width: 100%;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}
